{% extends 'main.html' %}
{% block title %}Browse & Search Item{% endblock title %}

{% block content %}



<div class="pb-6 grid grid-cols-4 gap-4">
    <div class="col-span-1">
        <form method="GET" action="">
            <input name="search_query" class="w-full py-3 px-6 border rounded-lg" type="text" value="{{ search_query }}" placeholder="Find whatever...">
            <input type="submit" value="Search" class="inline-block mt-2 rounded-lg border border-gray-300 bg-white px-4 py-2 text-center text-sm font-medium text-gray-700 shadow-sm transition-all hover:bg-gray-100 focus:ring focus:ring-gray-100 disabled:cursor-not-allowed disabled:border-gray-100 disabled:bg-gray-50 disabled:text-gray-400"> 
        </form>
    </div>
    <div class="col-span-3 bg-gray-200 rounded-xl">
        <div class="grid grid-cols-3 gap-3">
            
            {% for item in items %}
            <div>
                <a href="{% url 'single-item' item.id %}">
                    <div>
                        <img src="{{ item.item_image.url }}" class="rounded-t-xl">
                    </div>
                    <div class="p-6 bg-white rounded-b-xl hover:shadow-lg hover:shadow-black/30">
                        <h2 class="text-2xl">{{ item.title }}</h2>
                        <p class="text-gray-500">Price: ${{ item.price }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        
        </div>
        <br>
    </div>
</div>



{% endblock content %}